<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>3E536967EF152DF18DA8FE43FFAC5DB3</string>
            <key>code2</key>
            <string>04856379EE60C33ED206B8293E8D35BD</string>
            <key>code3</key>
            <string>F57C44079913A94BB3E1068541AA79DA</string>
            <key>code4</key>
            <string>23EA815FA7EAC365954E2EA049DC436F</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>url</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>websocketbackurl</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>websocketurl</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>CN_back</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>DE</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>DE_back</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>RU</key>
            <string>connect-drru.hispace.hicloud.com</string>
            <key>RU_back</key>
            <string>connect-drru.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.hispace.hicloud.com</string>
            <key>SG_back</key>
            <string>connect-dra.dbankcloud.cn</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>322385623856454981</string>
            <key>package_name</key>
            <string>com.hms.referenceapp.hiplace</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>70090000024813738</string>
            <key>product_id</key>
            <string>736430079244835865</string>
            <key>client_id</key>
            <string>575591789830866112</string>
            <key>client_secret</key>
            <string>[!00ED4D4245118C50AB7EF946FFEACDC3DB52432DB7B620458F86A94EE7C1B029F5AEBBF4A8D8A0C464C36673E45F204614CD1E157BE325F7E6FEE0D53CA419F445676346520E4AE57D623C7A85E47D760BAEE661CF14D8C3700592CEBA065AFF7E]</string>
            <key>project_id</key>
            <string>736430079244835865</string>
            <key>app_id</key>
            <string>322385623856454981</string>
            <key>api_key</key>
            <string>CgB6e3x92ktqlr/wOwj+bWSRQDV28Eao9CL7zu3u4gFCgDL7uk226OC89CbZ4X4qaciEEaHtV3qF0ZWLg1+eAikv</string>
            <key>package_name</key>
            <string>com.hms.referenceapp.hiplace</string>
        </dict>
        <key>service</key>
        <dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-dre.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-dre.ai.dbankcloud.com,ml-api-dre.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://ops-dre.agcstorage.link</string>
            </dict>
        </dict>
        <key>region</key>
        <string>DE</string>
    </dict>
</plist>
